body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 50px;
}

a { color: #00B7FF; }

#content {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#room {
	background-color: #ddd;
	margin-bottom: 1em;
}

#messages {
	background-color: #eee;
	height: 300px;
	margin-bottom: 1em;
	margin-right: 10px;
	overflow: auto;
	width: 690px;
}

#room-list {
	float: right;
	height: 300px;
	overflow: auto;
	width: 100px;
}

#room-list div { border-bottom: 1px solid #eee; }

#room-list div:hover { background-color: #ddd; }